#page1 {
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

  #t1 {
    position: relative;
    top: 1vh;
    color: white;
    text-align: center;
    font-size: 8vh;
  }
  
  #t2 {
    position: relative;
    color: white;
    text-align: center;
    font-size: 4vh;
  }
  
  #t3 {
    position: relative;
    color: white;
    text-align: center;
    font-size: 7vh;
  }
  
  #t4 {
    position: relative;
    color: white;
    text-align: center;
    font-size: 6vh;
  }

  #counter {
  position: fixed;
  bottom: 3vh;
  left: 3vh;
  z-index: 99;
  font-size: auto;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: auto;
  border-radius: auto; 
  }