#page3 {
    background-image: url("../img/3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
.text {
    position: relative;
    top: 40vh;
    color: white;
}
.icon-bar {
  position: fixed;
  top: 40%;
  z-index: 99;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 1vh;
}

/* Style the social media icons with color, if youwant */
.icon-bar a:hover {
  background-color:green;
}

.facebook {
  background: #3B5998;
}

.github {
  background: white;
}

.linkedin {
  background-color: #0e76a8;
}