#page4 {
    background-image: url("../img/4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  * {box-sizing: border-box}
  .mySlides1, .mySlides2 {display: none}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .container{
    max-width: 330px;
    position: relative;
    top: 2vh;
    margin: auto;
  }

  .smaller {
    font-size: 3vh;
  }

  .slides {
    display: none;
  }

  table, th, td {
    border: 0.1vh solid white;
    padding: 2vh;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
  }
  
  .fa {font-size:50px;}